<%-include('./includes/head.ejs') %>
  </head>
  <body>
      <h1 class="title">Dobrodošli na pokloni.ba</h1>
    <%-include('./includes/navigation.ejs') %>
    <%-include('./includes/end.ejs') %>
